.contact {
  background-color: #2879fe;
  padding: 15px;
  color: white;
  display: flex;
  justify-content: center;
  
  .wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 50%;
    .left {
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .center {
      input {
        border: none;
        border-radius: 5px 0 0 5px;
        padding: 10px;
    }
    
    button {
        color: white;
        border-radius: 0 5px 5px 0;
        background-color: #333;
        border: none;
        padding: 10px;
      }
    }

    .right {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
    }
  }
}
